<html>
  <head>
    <title>KLJS Jitter</title>
    <script src="https://unpkg.com/vue@2.3.4" integrity="sha384-SWYACiYUou7FEXJmLPVnJyiZ4jtvL48VREXH38hHwQXMv+tt0I96VhwBEHiS9Kq2" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="right">
        <div id="login">
          <h2>Login</h2>
          <button v-on:click="login" >Login</button>
        </div>
      </div>
      <div class="main">
        <div>
          <h2>Previous Jeets <small>(Count: {{ jeets.length || "Loading..." }})</small></h2>
          <div id="previousjeets">
            <li v-for="jeet in jeets"><b>{{ jeet.displayName }}</b>:{{ jeet.text }} at {{ago(jeet.createdAt)}} </li>
          </div>
          <div id="newjeet">
            <label for="jeet">Jeet your thoughts!</label>
            <input type="text" v-model="jeet" id="jeet">
            <button id="submitjeet" v-on:click="addJeet">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <script type="application/javascript">
      // Initialize Firebase
      // var config = {
      //   apiKey: "<API_KEY>",
      //   authDomain: "<PROJECT_ID>.firebaseapp.com",
      //   databaseURL: "https://<DATABASE_NAME>.firebaseio.com",
      //   storageBucket: "<BUCKET>.appspot.com",
      //   messagingSenderId: "<SENDER_ID>",
      // };
      // https://stackoverflow.com/questions/3177836/how-to-format-time-since-xxx-e-g-4-minutes-ago-similar-to-stack-exchange-site
      function timeSince(date) {

        var seconds = Math.floor((new Date() - date) / 1000);

        var interval = Math.floor(seconds / 31536000);

        if (interval > 1) {
          return interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
          return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
          return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
          return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
          return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";
      }

      const firebaseApp = firebase.initializeApp(config);

      // Authentication stuff
      const provider = new firebase.auth.GoogleAuthProvider();
      provider.addScope('https://www.googleapis.com/auth/userinfo.profile')

      const db = firebaseApp.database()
      const app = new Vue({
        el: '#app',
        data: {
          jeet: '',
          user: {
            name: '',
            uid: null
          }
        },
        firebase: {
          jeets: db.ref('jeets')
        },
        methods: {
          addJeet() {
            if (this.user.uid) {
              this.$firebaseRefs.jeets.push({
                text: this.jeet,
                displayName: this.user.name,
                createdAt: new Date().toString(),
                uid: this.user.uid
              })
            } else {
              alert('Oops, you are not logged in!')
            }
            this.jeet = ''
          },
          ago(date) {
            return timeSince(new Date(date))
          },
          login() {
            firebaseApp.auth().signInWithPopup(provider).then(function(result) {
              // This gives you a Google Access Token. You can use it to access the Google API.
              var token = result.credential.accessToken
              // The signed-in user info.
              var user = result.user
              console.log(user)
              app.user.uid = user.uid
              app.user.name = user.displayName
            }).catch(function(error) {
              // Handle Errors here.
              var errorCode = error.code;
              var errorMessage = error.message;
              // The email of the user's account used.
              var email = error.email;
              // The firebase.auth.AuthCredential type that was used.
              var credential = error.credential;
              // ...
              console.log(error)
            });
          }
        }
      })
    </script>
  </body>
</html>